.list {
  margin-top: 20px;
}

.empty {
  text-align: center;
  color: #777;
}

.note {
background: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(5px);
box-shadow: inset -6px -4px 2px rgba(255, 255, 255, 0.03);
border-radius: 15px;
border: 1.5px solid rgba(225, 255, 255, 0.326);
color: #fff;
margin-bottom: 10px; 
padding: 15px;
min-height:140px;
display: flex;
flex-direction:column;
justify-content: space-between;
word-wrap:break-word;
}

.editBtn {
  margin-right: 10px;        
  background: #f0f0f0;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

.deleteBtn {
  background: #808080;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

.inputContainer {
  display: flex;
  gap: 10px;
}

.input {
  flex: 1;
  padding: 10px;
}

.button {
  padding: 10px 18px;
  background: #000000;
  color: #fff;
  border: none;
  border-radius: 6px;           
  cursor: pointer;
}
.note textarea{
  white-space: pre-wrap;
  background: transparent;
  border: none;
  color: #fff;
  resize: none;
  font-size: 20px;
}

